<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Route Planner</title>
    <!--<% staticfiles %>-->
    <!--<link rel="stylesheet" type="text/css" href="http://openlayers.org/api/OpenLayers.css"/>-->
    <!--<link rel="stylesheet" type="text/css"-->
          <!--href="{% static 'home/lstefa/repos/project_navinur/navinur/-->
                           <!--static/planner/openlayers-2.13.1/theme/default/style.css' %}" />-->
    <style type="text/css">
    #map {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    .olControlAttribution {
    padding: 1em;
    bottom: 1em;
    right: 1em;
    background: rgba(40, 40, 40, 0.8);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    font-size: 16px;
    }
    .olControlAttribution a {
    font: 400 14px "helvetica",sans-serif;
    padding: 0 0.75em;
    color: rgb(200, 200, 200);
    }
    .olControlAttribution a:hover {
    color: rgb(255, 255, 255);
    }
    div.olControlZoom a {
    background: rgba(40, 40, 40, 0.8);
    color: rgb(200, 200, 200);
    }
    div.olControlZoom a:hover {
    background: rgb(255, 255, 255);
    color: rgb(40, 40, 40);
    </style>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript">
        var start_end_coords = [];
        var num_clicks = 0;
        var box_extents = [
        <!-- Larger outline area: [-97.94, 17.80,-76.10, 33.57],-->
        [-90.25, 27.91,-88.32, 30.33]
        ];
        OpenLayers.Control.Click = OpenLayers.Class(
            OpenLayers.Control, {
                defaultHandlerOptions: {
                    'single' : true,
                    'double' : false,
                    'pixelTolerance' : 0,
                    'stopSingle' : false,
                    'stopDouble' : false
                },
                initialize: function(options) {
                    this.handlerOptions = OpenLayers.Util.extend(
                        {}, this.defaultHandlerOptions);
                    OpenLayers.Control.prototype.initialize.apply(this, arguments);
                    this.handler = new OpenLayers.Handler.Click(this, {'click': this.onClick}, this.handlerOptions);
                },
                onClick: function(e) {
                    var coord = map.getLonLatFromViewPortPx(e.xy);
                    if(coord.lon<-90 || coord.lon>-88 || coord.lat>30 || coord.lat<27) {
                        alert("No route navigation available for this area");
                        window.location.href = document.URL;
                        }
                    window.alert("Coordinates:" + coord);
                    //push adds the item to the end of the array
                    start_end_coords.push(coord)
                    console.log(start_end_coords);
                    num_clicks ++;
                    if(num_clicks < 2) {
                        alert("Enter destination")
                    }
                    else if(num_clicks === 2) {
                        var request = OpenLayers.Request.GET({
                            url      : "{{calc_route_url}}",
                            params   :  {start_lat : start_end_coords[0].lat,
                                         start_lon : start_end_coords[0].lon,
                                         end_lat   : start_end_coords[1].lat,
                                         end_lon   : start_end_coords[1].lon},
                            callback : this.handleResponse
                        });
                    console.log(start_end_coords.length);
                    }
                    else {
                        alert("Too many points entered, start again");
                        start_end_coords = [];
                        markers.clearMarkers();
                        window.location.reload()
                    }
                    <!--markers.clearMarkers();-->
                    var location = new OpenLayers.LonLat(coord.lon, coord.lat);
                    var size = new OpenLayers.Size(15, 15);
                    var offset = new OpenLayers.Pixel(0,0);
                    var icon = new OpenLayers.Icon("http://maps.google.com/mapfiles/ms/icons/red-pushpin.png", size, offset);
                    markers.addMarker(new OpenLayers.Marker(location, icon.clone()));
                },
                handleResponse: function(request) {
                    if(request.status != 200) {
                        alert("Server returned a "+request.status+ " error");
                        return;
                    };
                    if(request.responseText != " ") {
                        window.location.href = request.responseText;
                    };
                }
            }
         );
        function initMap(){
            map = new OpenLayers.Map('map',
                                     {maxResolution: 0.703125,
                                      numZoomLevels: 11});
            layer = new OpenLayers.Layer.TMS('TMS',
                                             "{{ tms_url }}",
                                              {serviceVersion: "1.0",
                                              layername:"{{route_id}}" ,
                                              type: 'png',
                                              attribution:
                                              "<a href='/planner/index/0'>" +
                                              "New route</a>" +
                                              "<a href='/planner/existing_routes' target='_blank'>" +
                                              "Existing routes</a>" +
                                              "<a href=''>" +
                                              "Weather" +"</a>",
                                              });
            markers = new OpenLayers.Layer.Markers("Route Markers");
            var boxes = new OpenLayers.Layer.Vector("Highlight navigation data");
            for(var i = 0; i<box_extents.length; i++){
                ext = box_extents[i];
                bounds = OpenLayers.Bounds.fromArray(ext);
                box = new OpenLayers.Feature.Vector(bounds.toGeometry());
                boxes.addFeatures(box);
            }
            map.addLayer(layer);
            map.addLayer(markers);
            map.addLayer(boxes)
            var click = new OpenLayers.Control.Click();
            map.addControl(click);
            map.addControl(new OpenLayers.Control.LayerSwitcher());
            var select_feature = new OpenLayers.Control.SelectFeature(boxes);
            map.addControl(select_feature);
            click.activate();
            select_feature.activate();
             map.zoomToMaxExtent();
            map.setCenter([-75, 25], 3)
            }
    </script>
</head>
<body onload="initMap()">
            <div id="tags">
                box, vector, annotation, light
            </div>
            <div id="map" class="map"></div>
</body>
</html>